@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: serif;
  background-color: #f9f5f2;
}
header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f2;
  padding: 0 10px;
  user-select: none;
  .panel {
    display: flex;
    align-items: center;
    &.left {
      font-family: "Dancing Script", cursive;
      font-size: 56px;
      font-weight: bold;
      cursor: pointer;
    }
    &.center {
      cursor: pointer;
      .circle {
        width: 17.5px;
        height: 17.5px;
        background-color: black;
        border: none;
        border-radius: 99px;
        margin: 0 2.6px;
        &:nth-child(1) {
          background-color: #dfcdaa;
        }
        &:nth-child(2) {
          background-color: #b96e47;
        }
        &:nth-child(3) {
          background-color: #cca7ed;
        }
        &:nth-child(4) {
          background-color: #fc7b41;
        }
        &:nth-child(5) {
          background-color: #6c95cf;
        }
        &:nth-child(6) {
          background-color: #d3a334;
        }
        &:nth-child(7) {
          background-color: #aca86a;
        }
        &:nth-child(8) {
          background-color: #b3d5a2;
        }
      }
    }
    &.right {
      font-size: 30px;
      font-weight: 300;
      margin-right: 8px;
      span {
        cursor: pointer;
      }
      i {
        font-size: 22px;
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}
main {
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 560px;
    .item {
      position: relative;
      display: flex;
      align-items: flex-end;
      user-select: none;
      cursor: pointer;
      transition: display;
      &:nth-child(3n-2) {
        background-color: tomato;
      }
      &:nth-child(3n-1) {
        background-color: teal;
      }
      &:nth-child(3n) {
        background-color: wheat;
      }
      .item__img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
          height: 60%;
        }
      }
      .item__descrip {
        display: none;
      }
      .item__text {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        font-family: "Dancing Script", cursive;
        margin: 5px 0;
        padding: 0 15px;
        span:nth-child(2) {
          text-align: center;
        }
        a:nth-child(3) {
          text-align: end;
          transition: text-decoration;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &:hover {
        .item__img {
          display: none;
        }
        .item__descrip {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
  .showMore {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      all: unset;
      font-size: 24px;
      background-color: #efe5d8;
      border-radius: 99px;
      padding: 10px 15px;
      user-select: none;
      cursor: pointer;
      transition: background-color;
      &:hover {
        background-color: #dfcdaa;
      }
    }
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  div {
    display: flex;
    flex-direction: column;
    font-family: "Dancing Script", cursive;
    &:nth-child(2) {
      text-align: end;
    }
    a {
      line-height: 1.2;
      letter-spacing: 1px;
      user-select: none;
      transition: text-decoration;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
